<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <type name="Training\VirtualTypeExample\ViewModel\Example">
        <arguments>
            <argument name="warehouseRepository" xsi:type="object">Training\VirtualTypeExample\Model\WarehouseRepository</argument>
        </arguments>
    </type>
        <virtualType name="WarehouseRepositoryExtended" type="Training\WarehouseManagement\Model\WarehouseRepository">
        <arguments>
            <argument name="warehouseManagement" xsi:type="object">Training\VirtualTypeExample\Model\WarehouseManagementExtended</argument>
        </arguments>
    </virtualType> 
</config>